.active {
    background-color: #1d4ed8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: white;
    position: sticky;
    top: 0;
}

li {
    list-style: none;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}


nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}



.navbar-filter select {
    padding: 0.3rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    background-color: #1f2937;
    color: white;
}

.navbar-filter select option {
    background-color: #1f2937;
    color: white;
}

.dropdown {
    position: absolute;
    width: 400px;
    flex-direction: column;
    display: flex;
    background-color: blueviolet;
}

.navbar-center {
    display: flex;
    width: 400px;
}

.searchInput {
    width: 400px;
    height: 23px;
}

.movieListItem {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #0f172a;
}